# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependencies
node_modules/
vendor/
.bundle/

# Ruby
Gemfile.lock

# OS / Editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
